body {
       width      : 800px;
       height     : 1795px;
       font-family: Roboto, serif;
}

.main_wrapper {
    height: inherit;
    padding-right: 102px;
    padding-left : 99px;
    background   : rgba(42, 46, 65, 0.7);

}

.navigation {
    color          : #FFFFFF;
    display        : flex;
    justify-content: space-between;
    min-height     : 212px;
    align-items    : center;
}

#current_month_date {
    flex       : 0 0 320;
    padding    : 0 122px 0 121px;
    font-size  : 36px;
    font-weight: 500;
    line-height: 42px;
}

button[class*="navigation_button"] {
    color           : #FFFFFF;
    border          : none;
    font-size       : 36px;
    background-color: transparent;
    flex            : 0 0 18;
}

.line_separator_wrapper {
    display        : flex;
    justify-content: space-around;
}

.line_separator_wrapper hr {
    flex         : 1 1 599px;
    border       : 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.17);
    border-top   : 2px solid rgba(0, 0, 0, 0.17);
}

ul {
    list-style        : none;
    display           : flex;
    flex-direction    : row;
    justify-content   : center;
    text-align        : center;
    padding           : 0;
}

li {
    font-size  : 26px;
    line-height: 31px;
    flex-basis : 86;
    flex       : 1;
    color: #FFFFFF;
}

.days_of_week ul li {
    padding-top: 65px;
    color      : rgba(255, 255, 255, 0.6);
}

li[class*="inactive"] {
    color: rgba(255, 255, 255, 0.6);
}

li[class*="selected"] {
    background-image   : url(images/oval.svg);
    background-position: center;
    background-repeat  : no-repeat;
}

.days_of_month>ul {
    flex-wrap      : wrap;
    justify-content: space-around;
}

.days_of_month>ul li {
    flex          : 1 0 14.28%;
    padding-bottom: 46px;
    padding-top   : 46px;

}

.categories {
    color : #FFFFFF;
    margin-top: 81px;
}

.categories_title {
    display        : flex;
    justify-content: start;
    font-size      : 26px;
    line-height    : 30px;
}

.categories_buttons {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
    font-size      : 22px;
    line-height    : 26px;
}

.categories_buttons button {
    flex         : 0 0 285px;
    height       : 80px;
    margin-bottom: 30px;
    font-size    : 22px;
    line-height  : 26px;
    text-align   : center;
    border       : none;
    border-radius: 12px;
    color        : #FFFFFF;
}


button[class*="purple"] {
    background-color: #8576ED;

}

button[class*="orange"] {
    background-color: #F39946;
}

button[class*="pink"] {
    background-color: #FF467E;
}